header.shad
  nav
    ul
      li.left
        strong Peter Henrikson &#0135; &nbsp;
      li.left Timber Frame Education, Design &amp; Joinery
      li.right
        a(href='mailto:peter@peterhenrikson.com') peter@peterhenrikson.com
      li.right 218.370.8415 &nbsp; &#0135; &nbsp;