nav
  position: fixed
  top: 0
  z-index: 100
  width: 100%
  color: #fff
  background-color: #111
  transition: top .25s
  clearfix()
  &.stuck
    top: 0px !important

  .brand
    float: left
    height: 45px
    padding: 17px 20px 0 0px
    margin-bottom: 0
    line-height: 100%
    font-size: 28px
  .logosmall
    float: left
    height: 35px
    width: 35px
    margin: 12px 10px 0 10px

  ul
    display: block
    width: 100%
    margin-top: 19px
    line-height: 100%
    li
      display: inline-block
      margin-right: 15px
      a
        display: block
        font-size: 20px
        line-height: 25px
        padding: 0 5px
        border-radius: 5px
        text-decoration: none

// mobile only
@media only screen and (max-width: 767px)
  nav
    position: fixed
    top: 0
    display: block
    height: 45px
    .logosmall, .brand
      display: none
    ul
      height: auto
      text-align: center
      margin-top: 10px
      li
        margin-right: 0 !important
        a
          font-size: 14px
