section
  position: relative
  z-index: 1
  padding-top: 120px
  padding-bottom: 50px
  box-sizing: border-box;
  background-color: themeColor
  transition: background-color .5s
  &.fullheight
    min-height: 100%

  h1
    display: block
    text-align: center
    font-size: 50px
    color: #fff

.white
  background: none
  background-color: #eee
  h1
    color: #f4c532

.circled
  position: relative
  margin: 0 auto 15px auto
  width: 250px
  height: 250px
  border-radius: 50%
  overflow: hidden
  border: 4px solid rgba(255,255,255,.2)
  transition: border-color .5s
  &.sm
    width: 200px
    height: 200px

  img
    width: 100%
    display: block

@media (max-width: 767px)
  section
    padding-top: 75px
    h1
      font-size: 45px
    .content
      text-align: center

@media (max-width: 420px)

  section
    height: auto
    padding-top: 20px
    h1
      font-size: 30px
      margin: 18px 0 35px 0
