section
  position: relative
  padding: 150px 0
  box-sizing: border-box
  transition: background-color .5s
  box-shadow: 0 0 20px 5px #000
  &.fullheight
    min-height: 100%

  h1
    display: block
    text-align: center
    font-size: 60px
    color: #fff


.circled
  position: relative
  margin: 0 auto 15px auto
  width: 275px
  height: 275px
  border-radius: 50%
  overflow: hidden
  border: 8px solid rgba(0,0,0,.3)
  box-shadow: 0 0 4px #000
  transition: border-color .5s
  &.sm
    width: 225px
    height: 225px

  img
    width: 100%
    display: block

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px)
  .circled.sm
    width: 190px !important
    height: 190px !important


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
  section
    padding: 75px 0
    h1
      font-size: 45px !important
    .content
      text-align: center
  .circled
    width: 225px !important
    height: 225px !important

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px)
  section
    height: auto
    padding: 20px 0
    h1
      font-size: 30px !important
      margin: 18px 0 35px 0
