#home
  &.parallax
    background: url("/img/splash.jpg") fixed no-repeat
    background-size: cover

  h1
    line-height: 120%

  .content
    text-align: center

  .down-arrow
    text-decoration: none
    i
      display: block
      font-size: 40px
      font-weight: normal
      margin-top: 20px
      color: rgba(255,255,255,.9)


  .logo
    width: 200px
    height: 200px
    text-align: center
    margin: 50px auto 20px auto
    object
      width: 200px
      height: 168px

  &:last-child
    background-color: #fff

  .btn
    position: relative
    font-size: 14px
    line-height: 20px
    padding: 10px
    margin: 0 10px 10px 10px
    text-shadow: none
    box-shadow: none
    background: none
    border: 2px solid rgba(255,255,255,.6)
    color: rgba(255,255,255,.8)
    background-color: transparent
    border-radius: 6px
    transition: .3s
    text-decoration: none;

    &:hover
      border-color: #fff
      color: #fff

    &:active
      top: 2px

    .btn.active
      background-color: rgba(0,0,0,.1)
      border-color: #fff
      color: #fff

    &:focus
      color: #fff
      outline: none


// small screens / tablets
@media only screen and (min-width: 768px) and (max-width: 959px)
  #home h1
    font-size: 48px

// mobile portrait
@media only screen and (max-width: 767px)
  #home h1
    padding-right: 0
    .dagger
      display: block
      &:after
        content: none
