#work

  .service
    text-align: center
    color: #ddd
    padding-bottom: 15px
    h2
      margin-bottom: 15px
      font-size: 38px
    i
      text-shadow: none
      margin: 15px auto
      display: block
      font-size: 20px
      display: block
      height: 50px
      width: 50px
      border: 4px solid lighten(themeColor, 10%)
      border-radius: 50%
      transition: color .3s
      cursor: pointer
      text-align: center
      line-height: 50px
      transition: background-color .25s
    &:hover
      i
        background-color: themeColor

  .panel
    background-size: cover
    height: 100%
    width: 100%
