@font-face {
  font-family: 'frank_the_architect';
  src: url('/assets/fonts/frankthearchitect-webfont.eot');
  src: url('/assets/fonts/frankthearchitect-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/frankthearchitect-webfont.woff') format('woff'),
       url('/assets/fonts/frankthearchitect-webfont.ttf') format('truetype'),
       url('/assets/fonts/frankthearchitect-webfont.svg#frank_the_architectregular') format('svg');
  font-weight: normal;
  font-style: normal;
}