body-font = 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif
heading-font = 'frank_the_architect', 'Trebuchet MS', sans-serif
baseline-height = 15px

@import "nib"
global-reset()
@import "supersized"
@import "fonts.css"
@import "base"