footer
  padding-top: 50px
  color: #eee
  background-color: #111
  z-index: 1

  h3
    margin-top: 10px
    line-height: 20px
    font-size: 20px

  li
    float: left
    clear: both
    list-style: none
    line-height: 25px
    margin-bottom: 5px

    a
      color: #fff
      &:hover
        color: #ffde36

  p
    line-height: 25px

  hr
    border-color: #999
    margin: 0 auto
