input,
textarea,
input.form-control,
textarea.form-control,
input.form-control:focus,
textarea.form-control:focus
  outline: none
  border-radius: 0
  box-shadow: none
  border: none
  border-color: #d0d0d0

form
  &.btn
    margin-left: 0
    margin-right: 0

label
  font-weight: normal

.form-control
  &:focus
    box-shadow: none
    border-color: #777
