extends layout/main

block content

  section#home.splash.fullheight
    .background.parallax
    .content
      .logo
        object(type="image/svg+xml", data="/assets/img/logo.svg")
          img(src='/assets/img/logo.png')
      h1 Peter Henrikson <div class="dagger"></div> Timber Framer

      a.scroll.btn(href='#about') LEARN MORE
      a.scroll.down-arrow(href='#about')
        i.fa.fa-angle-down

  section#about.fullheight
    .container
      .peter
        h1 Timber Frame Education, Design &amp; Joinery
        .portrait
          img(src='/assets/img/peter.jpg', alt='Peter Henrikson')
        p Helping people with their timber frame dreams since 1998.
        p
          h2
            a(href="tel:218.370.8415") 218.370.8415
        p
          h3
            a(href="mailto:peter@peterhenrikson.com") peter@peterhenrikson.com

  section#services.fullheight
    .background.parallax
    .container
      h1.contrast Timber Framing Services
      .row
        .twelve.columns.services.offset-by-two
          p For me, timber framing is a fascinating blend of right and left brain, of structure and form.  Whether I'm sharing information in a class, designing a frame &amp; producing shop drawings for an owner-builder, or cutting joinery myself, I'm always focused on creating a structure of lasting beauty.
      .row
        .one.columns &nbsp;
        .four.columns.service
          i.fa.fa-book
          h3 EDUCATION
          p Teaching classes in basic and Norwegian style Grindbygg framing at <a href="http://northhouse.org/">North House Folk School</a> and elsewhere.
        .one.columns &nbsp;
        .four.columns.service
          i.fa.fa-pencil
          h3 DESIGN
          p Specializing in design and frame plan sets for owner builders who want to cut the joinery for their own frames.
        .one.columns &nbsp;
        .four.columns.service
          i.fa.fa-puzzle-piece
          h3 JOINERY
          p Constructing small and unique frames using traditional joinery with the subtle effects of hand tools.
        .two.columns &nbsp;

  section#work.fullheight
    h1 My Work
    div(style="text-align:center")
      a(href="javascript:;",onclick="$('.timeline li').not('.grindbygg').fadeOut()") show grindbygg
      |&nbsp;|&nbsp;
      a(href="javascript:;",onclick="$('.timeline li').fadeIn()") show all
    .container
      ul.timeline
        - each entry in config.timeline.reverse()
          include partials/entry

  section#contact
    h1 Contact Me
    .container
      form.sixteen.columns
        input.iconed(name='name', type='text', placeholder!="&#61447; Name")
        input.iconed(name='email', type='text', placeholder!='&#xf0e0; Email')
        input.iconed(name='phone', type='text', placeholder!='&#xf095; Phone')
        textarea.iconed(name='message', placeholder='Message')
        input(type='submit', value='Send Your Message')
