extends layout/main
append content

  a#prevslide.load-item
  a#nextslide.load-item

append js
  script
    $(function() {
      $.supersized({
        slide_interval: 3000,
        transition: 1,
        transition_speed: 700,
        slide_links: false,
        slides: [
          { image: '/assets/img/gallery/0.jpg', },
          { image: '/assets/img/gallery/1.jpg', },
          { image: '/assets/img/gallery/2.jpg', },
          { image: '/assets/img/gallery/3.jpg', },
          { image: '/assets/img/gallery/4.jpg', },
          { image: '/assets/img/gallery/5.jpg', },
          { image: '/assets/img/gallery/6.jpg', },
          { image: '/assets/img/gallery/7.jpg', },
          { image: '/assets/img/gallery/8.jpg', },
          { image: '/assets/img/gallery/9.jpg', },
          { image: '/assets/img/gallery/10.jpg', },
          { image: '/assets/img/gallery/11.jpg', }
        ]
      });
    });